body {
    font-size: 14px; /*1rem = 10px*/
    font-family: 'Open Sans', sans-serif;
    background: var(--gris-1);
}

/*Footer*/
#footer {
    background-color: var(--verde);
    align-items: center;
    padding-top: 15px;
    padding-bottom: 5px;
    left: 0;
    right: 0;
    text-align: center;
}